.categories-table {
  border-collapse: collapse;
  width: 100%;
}

.categories-table th:nth-child(1) {
  min-width: 30%;
}

.categories-table th:nth-child(2),
.categories-table tr[data-category-id]>td:nth-child(3),
.categories-table tr[data-item-id]>td:nth-child(2) {
  width: 100%;
}

.categories-table tbody {
  vertical-align: baseline;
}

.categories-table tr[data-item-id]>td:nth-child(3) {
  white-space: nowrap;
  padding: 0.3em 0;
}

.categories-table tr[data-item-id]>td:nth-child(3)>span {
  font-size: 1em;
  vertical-align: middle;
}

.overrides-table {
  width: 100%;
}

.overrides-table thead th:first-child {
  width: 0;
}
