.categories-table {
  border-collapse: collapse;
  width: 100%;
}

.categories-table th:nth-child(1) {
  min-width: 30%;
}

.categories-table th:nth-child(2),
.categories-table tr[data-category-id]>td:nth-child(3),
.categories-table tr[data-item-id]>td:nth-child(2) {
  width: 100%;
}

.categories-table tbody {
  vertical-align: baseline;
}

.categories-table tr[data-item-id]>td:nth-child(3) {
  white-space: nowrap;
  padding: 0.3em 0;
}

.categories-table tr[data-item-id]>td:nth-child(3)>span {
  font-size: 1em;
  vertical-align: middle;
}

.overrides-table {
  width: 100%;
}

.overrides-table thead th:first-child {
  width: 0;
}

.tabLinks {
  margin-bottom: 2em;
  padding: 0.5em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tabLinks a {
  margin: 0 1em;
  padding: 0.5em 0;
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

.tabLinks a:hover {
  opacity: 1;
}

.tabLinks a.selected {
  opacity: 1;
  border-bottom: 2px solid #00a4dc;
}
